<div class="content-wrapper">
    <span *ngIf="tokenInvalid" class="invalid-wrapper">Token is invalid</span>
    <form [formGroup]="formGroup" class="fg-wrapper">
        <mat-form-field class="form-input p-t-24">
            <mat-label>{{"New password" | translate}}</mat-label>
            <input #input [type]="showPassword?'text':'password'" autocomplete="password"
                   formControlName="password"
                   id="password" matInput placeholder="password"/>
            <mat-icon (click)="showPassword = !showPassword"
                      matSuffix>{{showPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <div class="button-wrapper">
            <button (click)="handleDismiss()" class="button-class" mat-flat-button>
                Cancel
            </button>
            <button (click)="handleResetPassword()"
                    [disabled]="!formGroup.valid"
                    class="button-class" mat-flat-button>Change password
            </button>
        </div>

    </form>
</div>
