::ng-deep .confirm-to-delete-album .mat-dialog-container {
  width: 320px;
  border-radius: 0 !important;
  background-color: rgba(255,255,255,0.7);
  backdrop-filter: blur(12px);
}

.cda-button-list{
  display: flex;
  flex-direction: column;
  button{
    width: 100%;
    margin: 8px 0;
    border-radius: 0!important;
  }
  .delete-button{
    background-color: red;
  }
}
