::ng-deep .schedule-email .mat-dialog-container{
  border-radius: 0;
}

.schedule-email-container{
  .schedule-email-body{
    display: flex;
    .schedule-email-date-picker{
      width: 280px;
      ::ng-deep .mat-calendar-header{
        padding: 0 8px;
        .mat-calendar-controls{
          margin-top: 24px;
          margin-bottom: 24px;
        }
      }
    }
    .schedule-email-date-time-renderer{
      width: 250px;
      padding-left: 24px;
      padding-right: 24px;
      .schedule-email-date-renderer{
        margin-top: 24px;
        margin-bottom: 24px;
        height: 40px;
        display: flex;
        align-items: center;
        box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
          input{
            background: transparent;
            outline: none;
            border: none;
          }
      }
      .schedule-email-time-renderer{
        height: 40px;
        display: flex;
        align-items: center;
        box-shadow: inset 0 -1px 0 0 rgb(100 121 143 / 12%);
        input{
          background: transparent;
          outline: none;
          border: none;
        }
      }
    }
  }
  .schedule-email-footer{
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
  }
}


::ng-deep .timepicker-backdrop-overlay{
  background-color: transparent;
}


::ng-deep .timepicker-overlay{
  z-index: 2000!important;
}