<div class="note-layout-container">
    <div [matTooltipPosition]="'right'" [matTooltip]="'New note'" class="button-element" matTooltipClass='mat-tool-tip' (click)="handleCreateNewNote()">
        <mat-icon>add</mat-icon>
    </div>
    <div [matTooltipPosition]="'right'" [matTooltip]="'Archives'" class="button-element" matTooltipClass='mat-tool-tip'>
        <mat-icon>archive_outline</mat-icon>
    </div>
    <div [matTooltip]="'Sort'" class="button-element" matTooltipClass='mat-tool-tip' matTooltipPosition="right">
        <mat-icon>sort</mat-icon>
    </div>
<!--    <div [matTooltip]="'Archives'" class="button-element" matTooltipClass='mat-tool-tip' matTooltipPosition="right">-->
    <!--        <mat-icon>add</mat-icon>-->
    <!--    </div>-->
</div>
