<h1 mat-dialog-title>{{'EMAIL.authenticity_title' | translate}}</h1>
<div *ngIf="authenticityToken.isValid;else not_valid">
    <h2 >{{'EMAIL.authenticity_valid' | translate}}</h2>
    <h3>{{authenticityToken.authenticityToken}}</h3>
</div>
<ng-template #not_valid>
    <div>
        <h2 >{{'EMAIL.authenticity_invalid' | translate}}</h2>
    </div>
</ng-template>
<div mat-dialog-actions class="cd-button-list">
    <button mat-stroked-button class="cancel-button" mat-dialog-close>{{'CLOSE' | translate}}</button>
</div>
