.change-permission-wrapper {
    display: flex;
    flex-direction: column;
    color: white;
    height: 320px;
    align-items: center;
    line-height: 1.4;
    padding-top: 16px;

    .element-wrapper {
        display: flex;
        flex-direction: row;
        width: 80%;
        justify-content: flex-start;
        line-height: 1.4;

        .element-name {
            display: flex;
            justify-content: flex-end;
            width: 50%;
        }

        .element-value {
            display: flex;
            flex-direction: column;
            padding-left: 12px;
        }
    }

    .button-wrapper {
        display: flex;
        flex-direction: row;
        margin-top: auto;
        margin-bottom: 16px;
    }
}

.radio-gr {
    display: flex;
    flex-direction: column;
    line-height: 2;
}
