<div class="note-wrapper">
    <div class="note-header">
        {{headerText}}
    </div>
    <div class="note-body">
        {{body}}
    </div>
    <div class="note-actions">
        <button mat-icon-button matTooltip="Reminder">
            <mat-icon>notifications_active</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add people">
            <mat-icon>person_add</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Add media">
            <mat-icon>movie</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Archive">
            <mat-icon>archive</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Reminder">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

</div>
