<ejs-gantt [allowSelection]="true" [columns]="columns" [dataSource]="data" [editSettings]="editSettings"
           [highlightWeekends]="true"
           [projectEndDate]="projectEndDate" [projectStartDate]="projectStartDate"
           [resourceFields]="resourceFields" [resources]="resources" [taskFields]="taskSettings"
           [toolbar]="toolbar" [treeColumnIndex]="1"
           height="860px%"
           id="resources"
           resourceIDMapping='resourceId'
           resourceNameMapping='resourceName' resourceUnitMapping='Unit' taskType="FixedWork"
           width="100%"
           workUnit="Hour">
</ejs-gantt>
