.e-bigger .schedule-context-menu ul .e-menu-item .e-menu-icon {
    font-size: 14px;
}

.schedule-context-menu ul .e-menu-item .e-menu-icon {
    font-size: 12px;
}

.control-section {
    height: 100% !important;

    .content-wrapper {
        height: 100% !important;
    }
}

//.e-calendar {
//    background-color: peachpuff !important;
//    border: 3px solid red;
//    height: 90% !important;
//    width: 100%;
//    overflow-y: scroll;
//}

.content-wrapper {
    width: 100% !important;
    height: 100% !important;
}
