.password-screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 24px;
    width: 100%;
    height: 100%;
    padding-right: 120px;
    backdrop-filter: blur(8px);
}

.input-wrapper {
    display: flex;
    padding-top: 48px;
}

//.formfield-wrapper {
//  display: flex;
//  width: 130px;
//
//}

.title {
    font-weight: 500;
}
