<div class="password-screen-wrapper">
    <span class="title">Change your current password</span>
    <div class="input-wrapper">
        <form [formGroup]="passwordFormGroup" style="display: flex;flex-direction: column;min-width: 640px">
            <mat-form-field class="formfield-wrapper" appearance="fill">
                <mat-label>Current password</mat-label>
                <input matInput formControlName="currentPassword" type="password" class="input-wrapper">
            </mat-form-field>
            <mat-form-field class="formfield-wrapper" appearance="fill">
                <mat-label>New password</mat-label>
                <input matInput formControlName="newPassword" type="password" class="input-wrapper">
            </mat-form-field>
            <mat-form-field class="formfield-wrapper" appearance="fill">
                <mat-label>Retype password</mat-label>
                <input matInput formControlName="checkPassword" type="password" class="input-wrapper">
            </mat-form-field>
        </form>
    </div>
    <button mat-flat-button color="primary" (click)="onUpdatePasswordClicked()">Update password</button>
</div>
